/* SIDEBAR-NAV */

.sidebar-nav {
  position: fixed;
  left: 0;
  width: 120px;
  transition: left 0.3s ease, right 0.3s ease;
  background-color: #dddddd;
  padding: 15px;
  border: 1px solid #fa5252;
  border-radius: 5px;
  margin-left: 20px;
}

.sidebar-nav li a {
  text-decoration: none;
}

.sidebar-nav li {
  list-style: none;
  margin-bottom: 10px;
  text-align: center;
}
